@page "/"

<div style="display: flex; align-items: center; justify-content: center; height: 100vh; text-decoration: solid">
    <div>
        <h5 class="bold-heading"> Welcome to the Gym Management System</h5>

        <p>Manage equipment, clients, and rentals with ease!</p>
    </div>
</div>